.about {
  display: flex;
  color: $dark-grey;
  padding-top: 110px;
  padding-bottom: 99px;
  padding-right: 8px;
}

.about__description h3 {
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  font-family: "Roboto Condensed", "Courier New", monospace;
}

.about__description p {
  font-size: 16px;
  line-height: 22px;
  margin: 20px 0;
}

.about a {
  border: 1px solid $primary;
  border-radius: 5px;
  text-transform: uppercase;
  color: $primary;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  vertical-align: baseline;
  padding: 13px 48px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $primary;
    color: $basic-white;
  }
}

.about.container {
  max-width: 1168px;
  margin: 0 auto;
}

.about__description {
  margin-left: 53px;
}

.text-clamp span:nth-of-type(1n) {
  display: none;
}

@media (max-width: 1919px) {
  .about {
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media (max-width: $tablet) {
  .about {
    padding-top: 53px;
    padding-bottom: 76px;
  }

  .about__img {
    width: 251px;
    height: 361px;
    margin-left: 0;
  }

  .about__description {
    margin-left: 43px;
    padding-top: 2px;
  }

  .about__description h3 {
    font-size: 32px;
    line-height: 140.62%;
    // linter не дал сделать 0.001
    letter-spacing: 0.01em;
    margin-bottom: 26px;
  }

  .about__description p {
    margin: 0;
    margin-bottom: 19px;
    margin-left: 3px;
  }

  .text-clamp span:nth-of-type(1n) {
    display: inline-block;
    vertical-align: baseline;
  }

  .text-clamp span:nth-of-type(2n) {
    display: none;
  }

  .about a {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 24px;
  }
}

@media (max-width: $mobile) {
  .about__description h3 {
    font-size: 28px;
    margin-bottom: 17px;
  }

  .about__img {
    display: none;
  }

  .about__description {
    margin: 0;
  }

  .about {
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 52px;
    padding-bottom: 66px;
  }

  .about__title {
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 18px;
  }

  .about__description p {
    margin-bottom: 40px;
  }

  .text-clamp {
    margin-bottom: 29px;
  }

  .text-clamp p {
    margin-bottom: 0;
  }

  .about a {
    margin: 0;
  }
}
