.benefits {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 109px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.benefits h3 {
  font-size: 24px;
  line-height: 34px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  color: $primary;
  margin-top: 17px;
  margin-bottom: 17px;
}

.benefits p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

.benefits__item {
  padding: 40px;
  padding-top: 42px;
  padding-left: 42px;
  border: 1px solid $light-grey;
  border-left: 1px solid $primary;
  cursor: pointer;
  transition: background-color 0.3s;
  color: $dark-grey;
  box-sizing: border-box;
  min-height: 299px;

  &:hover {
    background-color: $primary;
    color: $basic-white;
  }

  &:hover .svg {
    stroke: $basic-white;
  }

  &:hover h3 {
    color: $basic-white;
  }
}

.benefits.container {
  max-width: 1164px;
  margin: 0 auto;
}

.benefits__item--detective h3 {
  margin-top: 20px;
}

@media (max-width: 1919px) {
  .benefits {
    padding-top: 54px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: $tablet) {
  .benefits {
    padding-left: 25px;
    padding-right: 25px;
  }

  .benefits__item {
    padding-top: 24px;
    padding-left: 27px;
    padding-right: 18px;
    padding-bottom: 19px;
    min-height: 232px;
  }

  .svg--watch {
    width: 30px;
    height: 36px;
  }

  .svg--hired {
    width: 31px;
    height: 32px;
  }

  .svg--tag {
    width: 32px;
    height: 32px;
  }

  .svg--detective {
    width: 30px;
    height: 26px;
  }

  .benefits h3 {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;
  }

  .benefits p {
    margin-top: 8px;
  }

  .benefits__item--hired p {
    margin-top: 12px;
  }

  .benefits__item--detective h3 {
    margin-top: 10px;
  }

  .benefits__item--detective p {
    margin-top: 14px;
  }

  .benefits__item--price p {
    margin-top: 10px;
  }
}

@media (max-width: $mobile) {
  .benefits {
    padding-top: 37px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .benefits__item {
    padding: 26px;
    padding-right: 15px;
    min-height: 232px;
    font-size: 20px;
    line-height: 140.62%;
  }

  .benefits h3 {
    font-size: 20px;
    line-height: 140.62%;
  }

  .benefits__item--hired {
    padding-top: 21px;
    padding-right: 14px;
  }

  .benefits__item p {
    margin-top: 4px;
  }

  .benefits__item--hired p {
    margin-top: 10px;
  }


  .benefits__item--detective p,
  .benefits__item--price p {
    margin-top: 16px;
  }

  .benefits__item h3 {
    margin-top: 4px;
  }
}
