.popup {
  padding: 32px 40px;
  padding-bottom: 40px;
  background-color: $primary;
  width: 490px;
  color: $basic-white;
  position: relative;
  margin: 0 auto;
  margin-top: 136px;
  margin-bottom: 136px;
  z-index: 10;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  overflow: scroll;
}

.js-popup--open.popup-wrapper {
  display: block;
}

.popup button[type="button"] {
  width: 17px;
  height: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;

  &:hover .svg-cross {
    stroke: $basic-white;
  }
}

.popup h3 {
  font-family: "Roboto Condensed", "Courier New" , monospace;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
  line-height: 140.62%;
  margin-bottom: 10px;
}

.popup p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-right: 8px;
  margin-bottom: 33px;
}

.popup form {
  width: 411px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

.popup input,
.popup textarea {
  color: $dark-primary;
  padding: 15px;
  padding-left: 24px;
  padding-bottom: 17px;
  border: none;
  background-color: rgba($basic-white, 0.1);

  &::placeholder {
    color: $basic-white;
    font-size: 16px;
    line-height: 22px;
  }
}

.popup textarea {
  resize: none;
}

.popup button[type="submit"] {
  font-family: "Roboto Condensed", "Courier New" , monospace;
  border: 1px solid $basic-white;
  border-radius: 5px;
  background-color: transparent;
  color: $basic-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 16px 18px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba($basic-white, 0.3);
  }
}

.popup .check-label {
  padding-right: 10px;
  padding-top: 4px;
  padding-left: 50px;
  font-size: 14px;
  line-height: 16px;
}

.popup .check-label__checkmark {
  top: 5px;
  left: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($dark-primary, 0.6);
  display: block;
}
