@font-face {
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  src: url("./../fonts/pt-mono-regular.woff") format("woff"), url("./../fonts/pt-mono-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  src: url("./../fonts/roboto-condensed-regular.woff") format("woff"), url("./../fonts/roboto-condensed-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  src: url("./../fonts/roboto-condensed-bold.woff") format("woff"), url("./../fonts/roboto-condensed-bold.woff2") format("woff2");
}

.container {
  max-width: 1414px;
  margin: 0 auto;
}

body {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.central {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
